{% load static %}

{% for post in posts%}
<article class="row mb-5">
    <div class="col-12">
        <div class="post-slider">  
            
            <img loading="lazy" src="{% static post.photoname %}" class="img-fluid" alt="{{ post.photoname }}">
            

        </div>
    </div>
    <div class="col-12 mx-auto">
        <h3><a class="post-title" href="{% url 'post_view' post.title %}">{{post.title}}</a></h3>
        <ul class="list-inline post-meta mb-4">
            <li class="list-inline-item"><i class="ti-user mr-2"></i><a href="{% url 'post_based_on_author' post.author %}">{{post.author}}</a>
            </li>
            <li class="list-inline-item">Date : {{post.created}} </li>
            <li class="list-inline-item">Categories : <a href="{% url 'post_based_on_category' post.categories %}" class="ml-1">{{post.categories}} </a>
            </li>
            <li class="list-inline-item">Tags : <a href="#!" class="ml-1"> {% for tag in post.tags %} {{tag}}{% endfor %}</a>
            </li>
        </ul>
        <p> {{post.content}} </p> 
        <a href="{% url 'post_view' post.title %}" class="btn btn-outline-primary">Continue Reading</a>
    </div>
</article>
{% endfor %} 